<a href="https://colab.research.google.com/github/06Reetu/DMDWlab/blob/main/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)
A) Create a Dataframe (size= 3x4) with random integers with explicit indexing.
B) Perform sin(df * pi / 4) operation over the dataframe
C) Subtract first value of the dataframe from each elements of the dataframe.
D) Subtract first row of the dataframe from each rows of the dataframe.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
df

    A   B   C   D
0  77   3  66  51
1  73  46  79  33
2  29   5  65  34

In [4]:
np.sin(df * np.pi / 4)

          A         B         C         D
0 -0.707107  0.707107  1.000000  0.707107
1  0.707107 -1.000000 -0.707107  0.707107
2 -0.707107 -0.707107  0.707107  1.000000

In [5]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
first_value=df.iloc[0][0]
print(df.subtract(first_value, axis = 1))

    A   B   C   D
0   0  22 -17 -51
1  25 -16 -46 -51
2  -4  -1 -25  -4

In [6]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
first_row=df.iloc[0]
print(df.subtract(first_row, axis = 1))

    A   B   C   D
0   0   0   0   0
1  65 -39  79  -9
2  71 -30  30 -15

2) Write python program:
A) Read a CSV file using pandas data frame.
B) Display the first 8 rows of the data.
C) Display the last 7 rows of the data.
D) Get and display the data types used in this data. Get and display the unique values available under a particular attribute.

In [15]:
from google.colab import files  
uploaded = files.upload()

Saving cars.csv to cars.csv

In [16]:
df = pd.read_csv ('cars.csv')

In [17]:
result = df.head(8)
print(result)

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438
5   58       1     18      0    1262   2102
6   44       1     17    418    7017   8520
7   39       1     28      0    3282    500

In [18]:
result = df.tail(7)
print(result)

     age  gender  miles   debt  income  sales
956   58       0     23   5842    6019   9130
957   36       0     27   7133   11292  18062
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

In [21]:
print(df.dtypes)

age       int64
gender    int64
miles     int64
debt      int64
income    int64
sales     int64
dtype: object

In [22]:
gapminder_csv_url ='http://bit.ly/2cLzoxH'
record = pd.read_csv(gapminder_csv_url)  
print(record['continent'].unique())

['Asia' 'Europe' 'Africa' 'Americas' 'Oceania']

3) Write a python program:
A) Read a dataset (Ex, iris.csv) using pandas data frame.
B) Rename a column.
C) Filter the data using some condition (Ex. sepal length >7.2).
D) Find the mean and standard deviation value for each attribute.

In [23]:
from google.colab import files  
uploaded = files.upload()

Saving Iris.csv to Iris.csv

In [25]:
df= pd.read_csv('Iris.csv')
print(df)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [30]:
print(df.rename(columns={'SepalLengthCm  ': 'SEPAL LENGTH'}))

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [31]:
df[df['SepalLengthCm'] > 7.2]

      Id  SepalLengthCm  ...  PetalWidthCm         Species
105  106            7.6  ...           2.1  Iris-virginica
107  108            7.3  ...           1.8  Iris-virginica
117  118            7.7  ...           2.2  Iris-virginica
118  119            7.7  ...           2.3  Iris-virginica
122  123            7.7  ...           2.0  Iris-virginica
130  131            7.4  ...           1.9  Iris-virginica
131  132            7.9  ...           2.0  Iris-virginica
135  136            7.7  ...           2.3  Iris-virginica

[8 rows x 6 columns]

In [32]:
df.std(axis = 1, skipna = True)

0       2.010721
1       1.772005
2       1.754138
3       1.813009
4       2.165179
         ...
145    63.394345
146    64.010335
147    64.344914
148    64.719224
149    65.335924
Length: 150, dtype: float64

In [34]:
df.mean(axis = 0)

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

4) Write a python program:
A) Read a dataset (Ex, iris.csv) data using pandas data frame.
B) Next, check if there exist any duplicate values.
C) If exist any duplicate values then remove the duplicate values.

In [37]:
from google.colab import files  
uploaded = files.upload()

Saving Iris.csv to Iris (1).csv

In [38]:
df2= pd.read_csv('Iris.csv')
print(df2)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [39]:
duplicate = df2[df2.duplicated()]
print(duplicate)

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [40]:
df2.drop_duplicates(keep=False,inplace=True)
df2

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

5) Show using a program how to group data in python using pandas.

In [43]:
from google.colab import files  
uploaded = files.upload()

Saving games.csv to games.csv

In [45]:
df3 = pd.read_csv("games.csv")
df3

      GAME_DATE_EST   GAME_ID  ... REB_away  HOME_TEAM_WINS
0        2021-05-26  42000102  ...     40.0               1
1        2021-05-26  42000132  ...     41.0               1
2        2021-05-26  42000142  ...     33.0               1
3        2021-05-25  42000112  ...     43.0               1
4        2021-05-25  42000152  ...     39.0               0
...             ...       ...  ...      ...             ...
24672    2014-10-06  11400007  ...     43.0               1
24673    2014-10-06  11400004  ...     47.0               0
24674    2014-10-06  11400005  ...     43.0               1
24675    2014-10-05  11400002  ...     45.0               1
24676    2014-10-04  11400001  ...     42.0               0

[24677 rows x 21 columns]

In [47]:
gk = df3.groupby('SEASON')
gk.first()

       GAME_DATE_EST   GAME_ID  ... REB_away  HOME_TEAM_WINS
SEASON                          ...
2003      2004-06-15  40300405  ...     36.0               1
2004      2005-06-23  40400407  ...     34.0               1
2005      2006-06-20  40500406  ...     56.0               0
2006      2007-06-14  40600404  ...     45.0               0
2007      2008-06-17  40700406  ...     29.0               1
2008      2009-06-14  40800405  ...     47.0               0
2009      2010-06-17  40900407  ...     40.0               1
2010      2011-06-12  41000406  ...     40.0               0
2011      2012-06-21  41100405  ...     38.0               1
2012      2013-06-20  41200407  ...     43.0               1
2013      2014-06-15  41300405  ...     41.0               1
2014      2015-06-16  41400406  ...     39.0               0
2015      2016-06-19  41500407  ...     48.0               0
2016      2017-06-12  41600405  ...     40.0               1
2017      2018-06-08  41700404  ...     44.0               0
2018      2019-06-13  41800406  ...     39.0               0
2019      2020-10-11  41900406  ...     46.0               0
2020      2021-05-26  42000102  ...     40.0               1

[18 rows x 20 columns]